.dashboard-container {
  display: flex;
  height: calc(100vh - 60px);
  width: 100vw;
  overflow: hidden;
  background: #f1f3f6;
}

.dashboard-main {
  flex: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #fff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.04);

  /* overflow-y: auto;      */
  min-height: 0;
  overflow: hidden;
}
